.terms-wrapper {
  display: flex;
  gap: 0.75rem;
  margin-top: 3rem;
  align-items: flex-start;
  cursor: pointer;

  & strong {
    font-weight: 600;
    color: var(--text-highlight);
  }
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;

  & [type="checkbox"] {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }

  .checkbox-img {
    position: relative;
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../../assets/icons/checkbox-default.svg);
    pointer-events: none;
  }

  &:hover, &:focus-within {
    .checkbox-img {
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-img {
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}

